.teamheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  .header-first {
    height: 64px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-right {
      display: flex;
      align-items: center;
      gap: 12px;

      .icon-search {
        width: 17px;
        height: 17px;
      }
    }
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    color: #F76241;
    font-family: 'KIMM_Bold', sans-serif;
  }
}
