.main-floating-box {
  margin: -40px 22px -10px 22px; // 헤더 밑으로 겹치게
  height: auto;
  z-index: 2;
  border-radius: 20px 20px 0 0;

  background-color: #d1cccb;
  position: relative;

  .box-header-container {
    display: flex;
    padding: 20px 32px;
    justify-content: space-between;
    cursor: pointer;

    .icon-container {
      display: flex;
      flex-direction: column;
      .icon {
        width: 47px;
        height: 45px;
        background-color: rgba(255, 255, 255, 0.43);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        color: #403e3e;
        font-size: 10px;
        font-style: normal;
        line-height: normal;
        font-weight: 600;
        text-align: center;
        margin-top: 0.5rem;
      }

      img {
        width: 18px;
        height: 20px;
      }
    }
  }
}
