.project-detail-slide-box {
  width: 100%;
  border-radius: 0 0 20px 20px;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  z-index: 2;
  background-color: transparent;
  padding-bottom: 16px;

  .swiper {
    width: 100%;
    border-radius: 0 0 20px 20px;
    overflow: visible;
    background-color: transparent;
    position: relative;
    padding: 0 22px;

    .custom-swiper-pagination {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 6px;
      bottom: 0px;
      position: absolute;
      z-index: 4;
      bottom: -15px;
      .custom-bullet {
        width: 6px;
        height: 6px;
        background-color: #cfcfcf;
        border-radius: 50%;
        transition: all 0.3s ease;
      }

      .custom-bullet-active {
        width: 18px;
        height: 6px;
        border-radius: 52px;
        background-color: #f76241; // 강조색
      }
    }
  }

  .slide-wrapper {
    width: 100%;
    .slide-card {
      width: 100%;
      height: 228px;
      background-color: #fff;
      border-radius: 16px;
      padding: 24px;
      box-sizing: border-box;
    }

    .start-date {
      display: inline-block;
      background: #f76241;
      color: #fff;
      font-size: 10px;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      padding: 4px 8px;
      border-radius: 52px;
      margin-bottom: 13px;
    }

    .project-name {
      font-size: 20x;
      font-weight: 600;
      color: var(--text-01-black, #000);
      font-style: normal;
      line-height: normal;
      margin-bottom: 7px;
    }

    .project-subtitle {
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      font-style: normal;
      width: 100%;
      height: 44px;
      color: #a0a0a0;
      margin-bottom: 18px;
    }

    .progress-wrapper {
      position: relative;
      height: 13px;

      margin-bottom: 8px;

      .progress-bar-bg {
        width: 100%;
        height: 100%;
        background-color: #e0e0e0;
        border-radius: 52px;
        overflow: hidden;
        position: relative;
      }

      .progress-bar-fill {
        background: #f76241;
        height: 100%;
        border-radius: 52px;
      }

      .today-icon {
        position: absolute;
        top: -32px;
        z-index: 2;
      }
    }

    .progress-subtext {
      font-size: 11px;
      color: #6f6f6f;
      font-weight: 500;
    }
  }
}
