.slide-card.schedule-slide {
  height: 228px;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 12px;
  padding: 16px;
  
  .schedule-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    
    .schedule-header {
      font-size: 18px;
      font-weight: 600;
      color: #403e3e;
      margin: 0;
    }
    
    .add-schedule-btn {
      width: 27px;
      height: 27px;
      background-color: #F76241;
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:hover {
        background-color: #F76241;
      }
    }
  }

  .week-row {
    display: flex;
    justify-content: space-between;

    .week-day {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .abbr {
        font-size: 10px;
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        color: #807c7c;
      }
      .date {
        margin-top: 4px;
        line-height: normal;
        color: #403e3e;
        font-size: 16px;
        font-weight: 600;
      }

      &.today {
        width: 36px;
        height: 56px;
        flex-shrink: 0;
        background: #f76241;
        border-radius: 28px;
        color: #fff;
      }
      &.selected {
        width: 36px;
        height: 56px;
        flex-shrink: 0;
        background: #f76241;
        border-radius: 28px;
        color: #fff;
      }
      &.selected .abbr,
      &.selected .date {
        color: #fff;
      }
    }
  }

  .events-list {
    overflow-y: auto;
    margin-top: 16px;
    padding-right: 4px;

    .empty-message {
      text-align: center;
      padding: 20px 0;
      color: #999;
      font-size: 14px;
      font-family: Pretendard;
    }

    .event-item {
      display: flex;
      align-items: center;
  
      gap: 8px;
      padding: 5px 0;

      .bullet {
        width: 7px;
        height: 7px;
        background-color: #807C7C;
        border-radius: 50%;
        margin-top: 4px;
        flex-shrink: 0;
      }
      
      .desc {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #403e3e;
        font-family: Pretendard;
      }
    }
  }
}
