.my-project-section {
  background-color: #f5f5f5;
  padding: 24px 16px;
}

.section-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 16px;
  font-family: 'Pretendard';
}

.project-add-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 134px;
  padding: 37px 43px;
  background: #DCDCDC;
  border-radius: 16px;
  gap: 16px;
}

.add-icon {
  width: 24px;
  height: 24px;
}

.add-text {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  font-family: 'Pretendard';
}
