.member-detail-card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 24px; // 전체 패딩 24px
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);

  .edit-btn {
    position: absolute;
    top: 24px; // 패딩과 맞춤
    right: 24px; // 패딩과 맞춤
    background: none;
    border: none;
    cursor: pointer;
  }

  .avatar-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    .avatar-large {
      width: 98px;
      height: 98px;
      border-radius: 50%;
    }
  }

  .square {
    width: 16px;
    height: 16px;
    background-color: #403e3e;
    border-radius: 5px;
    margin-right: 7px;
  }

  .member-name {
    text-align: center;
    line-height: normal;
    font-size: 18px;
    font-weight: 700;
    color: #140805;
    margin-bottom: 26px;
  }

  .member-meta {
    list-style: none;

    padding-left: 0; // 브라우저 기본 padding-left 제거

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px !important; // 다른 파일의 margin-bottom 강제 적용
      padding-left: 0 !important; // 다른 파일의 18px padding-left 강제 제거

      .meta-label {
        color: #403e3e;
        font-size: 14px;
        line-height: normal;
        text-transform: capitalize;
        font-style: normal;
        font-weight: 400;
        
      }
      .meta-value {
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        
        &.editable {
          cursor: text;
          outline: none;
          
          &:focus {
            background-color: rgba(247, 98, 65, 0.05);
            border-radius: 4px;
            padding: 2px 4px;
            margin: -2px -4px;
          }
        }
      }
    }
  }

  .timeline-toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 23px 19px;
    font-size: 13px;
    line-height: 143.633%;
    font-weight: 600;
    text-transform: capitalize;
    background: #f2f2f2;
    border: none;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15));
  }
}
