.onboarding-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F76241;
    .main-text {
        color: #FFF;
        font-family: KIMM_Bold;
        font-size: 44.215px;
        font-weight: 700;
        line-height: normal;
    }
  }
  