.onboarding-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
    background: #F76241;
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: env(safe-area-inset-right, 0px);
    .main-text {
        color: #FFF;
        font-family: KIMM_Bold;
        font-size: 44.215px;
        font-weight: 700;
        line-height: normal;
    }
  }
  