.evaluation-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 12px;
  max-width: 390px;

  // sm breakpoint (480px 이상)
  @media (min-width: 480px) {
    max-width: 480px;
  }

  // md breakpoint (768px 이상)
  @media (min-width: 768px) {
    max-width: 720px;
  }

  // lg breakpoint (1024px 이상)
  @media (min-width: 1024px) {
    max-width: 880px;
  }

  .alert-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 143.63%;
    color: #000;
    margin: 0;

    .count-highlight {
      color: #F76241;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 0%;
      text-transform: capitalize;
    }
  }
}