@use '../../../styles/variables' as *;

.container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.starIcon {
    cursor: pointer;
    transition: transform 0.1s;
    color: #ECECEC; // Inactive color

    &.active {
        color: #FFC107; // Star Yellow (or use primary orange if preferred)
    }

    &.readOnly {
        cursor: default;
    }

    &:hover:not(.readOnly) {
        transform: scale(1.1);
    }
}

// Sizes
.md {
    width: 24px;
    height: 24px;
}

.lg {
    width: 33px;
    height: 33px;
}