.member-header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fffdfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  padding: 1.5rem 1rem;
  padding-top: calc(env(safe-area-inset-top, 0px) + 1.5rem);
  display: flex;
  height: calc(64px + env(safe-area-inset-top, 0px));
  align-items: center;
  box-sizing: border-box;

  .member-header-back {
    background: none;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translateY(-50%);
  }

  .member-header-chat {
    background: none;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
  }

  .member-header-title {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.2px;
    margin: 0;
    padding: 0; // Ensure no padding
    text-indent: 0; // Ensure no indent
    position: absolute;
    left: 50%;
    top: 50%;
    font-style: normal;
    color: #000;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .member-header-chat--placeholder {
    width: auto;
    min-width: 22px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
  }
}