.project-management-container {
  width: 100%;
  background-color: #f9f9f9;
  height: 100dvh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f2f2f2;
  padding-top: env(safe-area-inset-top, 0px);
  padding-left: env(safe-area-inset-left, 0px);
  padding-right: env(safe-area-inset-right, 0px);

  main {
    width: 100%;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: calc(60px + env(safe-area-inset-bottom, 0px) + 20px);
    -webkit-overflow-scrolling: touch;
  }

  .project-filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

    .project-select {
      width: fit-content;
      border: none;
      background-color: transparent;
      text-align: right; // 텍스트를 오른쪽 정렬
    }
  }

}