.team-analysis-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* iOS SafeArea 수평 지원 */
  padding-left: env(safe-area-inset-left, 0px);
  padding-right: env(safe-area-inset-right, 0px);
}

.team-analysis-top-text {
  width: 358px;
  margin: 16px;
  font-family: 'Pretendard', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  color: #140805;
  text-transform: capitalize;
}

.team-analysis-top-text .highlight {
  color: #F76241;
}

.team-analysis-wrapper {
  width: 300px;
  background-color: #FFF;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-analysis-title {
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 143.633%;
  letter-spacing: -0.48px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.team-analysis-sub {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 0px;
  color: #B2B2B2;
}

.team-analysis-image {
  width: 156px;
  height: 106px;
  object-fit: contain;
  margin-top: 8px;
}

.team-analysis-label {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #555;
}
